<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.CoffeeCafeteria">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Coffee Shop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevelopWithJava"
        tools:targetApi="31">
        <activity
            android:name=".c5"
            android:exported="false" />
        <activity
            android:name=".c4"
            android:exported="false" />
        <activity
            android:name=".c3"
            android:exported="false" />
        <activity
            android:name=".c2"
            android:exported="false" />
        <activity
            android:name=".c1"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".h5"
            android:exported="false" />
        <activity
            android:name=".h3"
            android:exported="false" />
        <activity
            android:name=".h2"
            android:exported="false" />
        <activity
            android:name=".DayMeal"
            android:exported="false" />
        <activity
            android:name=".GreenLatte"
            android:exported="false" />
        <activity
            android:name=".CaffeAmerico"
            android:exported="false"
            android:label="Caffe Americano" />
        <activity
            android:name=".softDrinks"
            android:exported="false"
            android:label="Day Meal Combos" />
        <activity
            android:name=".indianTea"
            android:exported="false"
            android:label="Indian Bevrages" />
        <activity
            android:name=".coldCoffee"
            android:exported="false"
            android:label="Cold Coffee" />
        <activity
            android:name=".hotCoffee"
            android:exported="false"
            android:label="Hot Coffee" />
        <activity
            android:name=".turnpage"
            android:exported="false"
            android:label="Order Summary" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@drawable/capecinco">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>